.mSubTitle {
	font-size: 12.8px;
	color: #aaa;
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}
.big_title {
	font-size: 60px;
	font-style:normal;
	color: #ffffff;

}

.vis {
width: 800px;
height:auto;
}

.pic {
width: 400px;
height: auto;
}

.comment {
	display: none;
}

img {

	
}
