{% extends "basic.html" %} {% block title %}
<title>
    Presentation - StatiipPlatform
</title>
{% endblock %} {% block header %}
<header>
    <a class="scroll-point pt-top" name="top"></a>
    <nav class="navbar navbar-inverse navbar-default navbar-fixed-top">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                <a class="navbar-brand" href="/"><img id="logo_top" src="../static/logo/cordova-logo-newbrand.svg"></a>
            </div>


        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <div class="nav_bar_center">
                <!-- 最上面的一条框-->
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/guide">Guide</a>
                    </li>
                    <li class="active">
                        <a href="/presentation">Presentation</a>
                    </li>
                    <li>
                        <a href="/tools">Tools</a>
                    </li>


                </ul>
            </div>
        </div>
        <!--/.navbar-collapse -->
        </div>
    </nav>
    <div id="_fixed_navbar_spacer" style="padding-top:50px"></div>
</header>
{% endblock %} {% block content %}
<div class="docs container">

    <!-- Table of Contents -->
    <!--左边框-->
    <div class="col-md-3 col-lg-3 site-toc-container">
        <ul class="site-toc">




            <a href="/presentation">
                <span class="toc-section-heading">
                        Homework
                    </span>
            </a>





            <ul class="site-toc">


                <li>

                    <a class="active" href="/presentation#hw1">
                      1. Naïve Bayes Classifier
                    </a>










                </li>


                <li>

                    <a class="" href="/presentation#hw2">
                        2. EM algorithm
                    </a>







                </li>


                <li>

                    <a class="" href="/presentation#hw3">
                        3. HMM model
                    </a>







                </li>


                <li>
                    <a class="" href="/presentation#hw4">
                                4. CRF model
                                </a>









                </li>





            </ul>








        </ul>

    </div>









    <!-- Page content -->
    <div class="col-md-9 col-md-offset-3 page-content-container container">
        <div class="page-content row" style = "height: 2500px">
            <div class="col-md-offset-1 col-md-10">
                <!-- Show warnings for special versions -->
                <!-- dev warning -->


                <!-- outdated warning -->


                <!-- plugin version warning -->


                <div id="page-toc-source">
                    <div class="home">

                        <div id="hw3">
                            <h1>Homework 3: HMM Model</h1>
                            <ul>




                                <h2><a>Chinese Segmentation</a></h2>
                                <div id="vis3seg">

                                    {% if alertbar == 1 %}
                                    <div>
                                        <div class="alert alert-success"><button type="button" class="close" data-dismiss="alert">×</button>
                                            <h4>Congratulations！</h4>
                                            <p>Successfully submitted and run！</p>
                                        </div>
                                    </div>
                                    {% endif%} {% if alertbar == 2 %}
                                    <div>
                                        <div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert">×</button>
                                            <h4>Warning！</h4>
                                            <p>The text length is too small (smaller than 3 characters), Please try again.</p>
                                        </div>
                                    </div>
                                    {% endif %}

                                    <div class="container">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <form role="form" action="/hw3text" method="post">
                                                    <div class="form-group"><label for="inputdata">Input Data</label>
                                                        <textarea id='inputdata' name="content" class="form-control" rows="8" placeholder="Enter input data and Click `Submit` button.">{{ inputData }}</textarea>


                                                        <label>Method</label> <br>
                                                        <label class="radio-inline">
                                                        <input type="radio" name="wordchoice" id="inlineRadio1" value="viterbi" checked>viterbi
                                                      </label>
                                                        <label class="radio-inline">
                                                          <input type="radio"name="wordchoice" id="inlineRadio2" value="supervise">supervised
                                                      </label> <br>

                                                        <button type="submit" class="btn btn-default">Submit</button></div>
                                                </form>
                                                <h4 class="text-center">Or</h4>
                                                <form role="form" action="/hw3file" method="post" enctype="multipart/form-data">
                                                    <label for="inputfile">File input(GBK)</label>
                                                    <input type="file" id="inputfile" name="filecontent">

                                                    <label>Method</label> <br>
                                                    <label class="radio-inline">
                                                  <input type="radio" name="wordchoice" id="inlineRadio3" value="viterbi" checked>viterbi
                                                </label>
                                                    <label class="radio-inline">
                                                    <input type="radio"name="wordchoice" id="inlineRadio4" value="supervise">supervised
                                                </label> <br>

                                                    <button type="submit" class="btn btn-default">Submit</button>
                                                </form>
                                            </div>

                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <label for="outputdata">Output Result</label>
                                                    <textarea id='outputdata' class="form-control" rows="17" placeholder="Results will be shown here.">{{ resultData }}</textarea>
                                                </div>
                                                <button type="button" class="btn btn-default" onclick="saveFile()">Download Result</button>
                                            </div>
                                        </div>
                                    </div>


                                </div>

                                <br>

                                <h2><a>Stock Prediction</a></h2>
                                <div id= "vis3st">
                                <h3><a>Real Data</a></h3>
                                <div class="vis" id="vis3stock"  style="height:400px">
                                </div>

                                <div class="pic">
                                    <h3><a>Three Hidden States</a></h3>

                                    <img src="../static/pic/3-prediction.png" width="800" height="auto" alt="Three Hidden States" />


                                    <h3><a>Five Hidden States</a></h3>

                                    <img src="../static/pic/5-prediction.png" width="800" height="auto" alt="Five Hidden States" />


                                </div>
                              </div>

                            </ul>
                        </div>




                    </div>


                </div>









            </div>

        </div>

        <div class="row">
            <div class="blue-divider"></div>
            <footer>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-8">
                            <h1>Resources</h1>
                            <div class="row">
                                <div class="col-sm-4">
                                    <h2>Libraries</h2>
                                    <ul class="nav">
                                        <li>
                                            <a target="_blank" href="http://getbootstrap.com/">Bootstrap</a>
                                        </li>
                                        <li>
                                            <a href="http://d3js.org/">D3.js</a>
                                        </li>
                                        <li>
                                            <a target="_blank" href="http://echarts.baidu.com/">ECharts</a>
                                        </li>
                                        <li>
                                            <a href="http://www.chartjs.org/">Chartjs</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <h2>Materials</h2>
                                    <ul class="nav">
                                        <li><a target="_blank" href="">Source Code</a></li>
                                        <li><a target="_blank" href="">Datasets </a></li>
                                        <li><a target="_blank" href="">Class Documents</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-3">
                            <h1>Contribute</h1>
                            <p style="padding-top:20px"><strong>Help StatiipPlatform move forward!</strong></p>
                            <p>Report bugs, improve the docs, or contribute to the code.</p>
                            <a href="mailto:luying14@fudan.edu.cn" class="btn btn-lg btn-primary">
            Contact Me
        </a>

                        </div>
                    </div>


                </div>
            </footer>

        </div>
    </div>
</div>


{% endblock %} {% block script %}
<script src="../static/libs/d3.min.js"></script>
<script src="../static/libs/echarts.min.js"></script>
<script src="../static/src/content.js"></script>
{% endblock %}
