{% extends "basic.html" %}
{% block title %}
    <title>
        Presentation - StatiipPlatform
    </title>
{% endblock %}
{% block header %}
    <header>
        <a class="scroll-point pt-top" name="top"></a>
        <nav class="navbar navbar-inverse navbar-default navbar-fixed-top">
            <div class="container-fluid">

              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/"><img id="logo_top" src="../static/logo/cordova-logo-newbrand.svg"></a>
              </div>


    </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <div class="nav_bar_center">
                        <!-- 最上面的一条框-->
                        <ul class="nav navbar-nav">
                          <li>
                              <a href="/">Home</a>
                          </li>
                            <li>
                                <a href="/guide">Guide</a>
                            </li>
                            <li class = "active">
                                <a href="/presentation">Presentation</a>
                            </li>

                            <!--
                            <li>
                                <a href="/tools">Tools</a>
                            </li>
                          -->

                        </ul>
                    </div>
                </div>
                <!--/.navbar-collapse -->
            </div>
        </nav>
        <div id="_fixed_navbar_spacer" style="padding-top:50px"></div>
    </header>
{% endblock %}
{% block content %}
    <div class="docs container">

        <!-- Table of Contents -->
        <!--左边框-->
        <div class="col-md-3 col-lg-3 site-toc-container">
            <ul class="site-toc">




                        <a href="/presentation">
                            <span class="toc-section-heading">
                        Homework
                    </span>
                    </a>





                            <ul class="site-toc">


                                <li>

                                    <a  class = "active" href = "/presentation#hw1">
                      1. Naïve Bayes Classifier
                    </a>










                                </li>


                                <li>

                                    <a class="" href = "/presentation#hw2">
                        2. EM algorithm
                    </a>







                                </li>


                                <li>

                                    <a class="" href = "/presentation#hw3">
                        3. HMM model
                    </a>







                                </li>


                                <li>
                                  <a class="" href = "/presentation#hw4">
                                4. CRF model
                                </a>









                                </li>





                    </ul>








            </ul>

        </div>









        <!-- Page content -->
        <div class="col-md-9 col-md-offset-3 page-content-container container">
            <div class="page-content row">
                <div class="col-md-offset-1 col-md-10">








                    <!-- Show warnings for special versions -->
                    <!-- dev warning -->


                    <!-- outdated warning -->


                    <!-- plugin version warning -->


                    <div id="page-toc-source">
                        <div class="home">

                            <div id="hw4">
                            <h1 >Homework 4</h1>
                            <ul>
                              <h2><a>Conditional Random Field</a></h2><a class="header-link" href=""></a>
                              <div class="container">
                                  <div class="row">


                              <div class="col-xs-4">
                                  <form role="form" action="/hw4text" method="post">
                                      <div class="form-group"><label for="inputdata">Input Data</label>
                                          <textarea id='inputdata' name="content" class="form-control" rows="8" placeholder="Enter input data and Click `Submit` button.">{{ inputData }}</textarea>

                                          <button type="submit" class="btn btn-default">Submit</button></div>
                                  </form>
                                  <h4 class="text-center">Or</h4>
                                  <form role="form" action="/hw4file" method="post" enctype="multipart/form-data">
                                      <label for="inputfile">File input(GBK)</label>
                                      <input type="file" id="inputfile" name="filecontent">


                                      <button type="submit" class="btn btn-default">Submit</button>
                                  </form>
                              </div>

                              <div class="col-xs-4">
                                  <div class="form-group">
                                      <label for="outputdata">Output Result</label>
                                      <textarea id='outputdata' class="form-control" rows="13" placeholder="Results will be shown here.">{{ resultData }}</textarea>
                                  </div>
                                  <button type="button" class="btn btn-default" onclick="saveFile()">Download Result</button>
                              </div>

                            </div>
                          </div>




                              <h2><a>Visualization</a></h2><a class="header-link" href="">把表格用前端展示一下(option)</a>
                              <div class="vis" id = "vis4" style="height:400px">

                              </div>
                            </ul>
                          </div>




                        </div>


                    </div>
                </div>
            </div>

            <div class="row">
                <div class="blue-divider"></div>
                <footer>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-8">
                                <h1>Resources</h1>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <h2>Libraries</h2>
                                        <ul class="nav">
                                            <li>
                                                <a target="_blank" href="http://getbootstrap.com/">Bootstrap</a>
                                            </li>
                                            <li>
                                                <a href="http://d3js.org/">D3.js</a>
                                            </li>
                                            <li>
                                                <a target="_blank" href="http://echarts.baidu.com/">ECharts</a>
                                            </li>
                                            <li>
                                                <a href="http://www.chartjs.org/">Chartjs</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-4">
                                        <h2>Materials</h2>
                                        <ul class="nav">
                                            <li><a target="_blank" href="https://github.com/HSJMDMG/statiipWeb">Source Code</a></li>
                                            <li><a target="_blank" href="">Datasets </a></li>
                                            <li><a target="_blank" href="">Class Documents</a></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-3">
                                <h1>Contribute</h1>
                                <p style="padding-top:20px"><strong>Help StatiipPlatform move forward!</strong></p>
                                <p>Report bugs, improve the docs, or contribute to the code.</p>
                                <a href="mailto:luying14@fudan.edu.cn" class="btn btn-lg btn-primary">
            Contact Me
        </a>

                            </div>
                        </div>


                    </div>
                </footer>

            </div>
        </div>
    </div>


{% endblock %}
{% block script %}
<script src="../static/libs/d3.min.js"></script>
<script src="../static/libs/echarts.min.js"></script>
<script>

var option = {
  tooltip: {
      trigger: 'axis'
  },
  toolbox: {
      feature: {
          dataView: {show: true, readOnly: false},
          magicType: {show: true, type: ['line', 'bar']},
          restore: {show: true},
          saveAsImage: {show: true}
      }
  },
  legend: {
      data:['Precision','Recall','F score']
  },
  xAxis: [
      {
          type: 'category',
          data: ['no_6', 'no_10', 'no_12', 'no_bi_6', 'pos_7', 'pos_9', 'pos_10','pos_12', 'pos_bi_7']
      }
  ],
  yAxis: [
      {
          type: 'value',
          name: 'rate',
          min: 0.9,
          max: 1.0,
          //interval: 50,
      },
  ],
  series: [
      {
          name:'Precision',
          type:'bar',
          data:[0.945496, 0.949939, 0.949903, 0.949138, 0.985380, 0.985338, 0.984975, 0.993512, 0.985414]
      },
      {
          name:'Recall',
          type:'bar',
          data:[0.933318, 0.941478, 0.942060, 0.940195, 0.983944, 0.983711, 0.983779, 0.992132, 0.983672]
      },
      {
          name:'F score',
          type:'bar',

          data:[0.939368, 0.945689, 0.945965, 0.944646, 0.984661, 0.984524, 0.984376, 0.992822, 0.984542]
      }
  ]
};

var  myChart = echarts.init(document.getElementById("vis4"));
myChart.setOption(option);


</script>
{% endblock %}
