{% extends "basic.html" %}
{% block title %}
    <title>
        Presentation - StatiipPlatform
    </title>
{% endblock %}
{% block header %}
    <header>
        <a class="scroll-point pt-top" name="top"></a>
        <nav class="navbar navbar-inverse navbar-default navbar-fixed-top">
            <div class="container-fluid">

              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/"><img id="logo_top" src="../static/logo/cordova-logo-newbrand.svg"></a>
              </div>


    </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <div class="nav_bar_center">
                        <!-- 最上面的一条框-->
                        <ul class="nav navbar-nav">
                          <li>
                              <a href="/">Home</a>
                          </li>
                            <li>
                                <a href="/guide">Guide</a>
                            </li>
                            <li class = "active">
                                <a href="/presentation">Presentation</a>
                            </li>
                            <!--
                            <li>
                                <a href="/tools">Tools</a>
                            </li>
                          -->

                        </ul>
                    </div>
                </div>
                <!--/.navbar-collapse -->
            </div>
        </nav>
        <div id="_fixed_navbar_spacer" style="padding-top:50px"></div>
    </header>
{% endblock %}
{% block content %}
    <div class="docs container">

        <!-- Table of Contents -->
        <!--左边框-->
        <div class="col-md-3 col-lg-3 site-toc-container">
            <ul class="site-toc">





                            <span class="toc-section-heading">
                        Homework
                    </span>






                            <ul class="site-toc">


                                <li>

                                    <a  href="#hw1">
                      1. Naïve Bayes Classifier
                    </a>










                                </li>


                                <li>

                                    <a class="" href="#hw2">
                        2. EM algorithm
                    </a>







                                </li>


                                <li>

                                    <a class="" href="#hw3">
                        3. HMM model
                    </a>







                                </li>


                                <li>
                                  <a class="" href="#hw4">
                                4. CRF model
                                </a>









                                </li>





                    </ul>








            </ul>

        </div>









        <!-- Page content -->
        <div class="col-md-9 col-md-offset-3 page-content-container container">
            <div class="page-content row">
                <div class="col-md-offset-1 col-md-10">








                    <!-- Show warnings for special versions -->
                    <!-- dev warning -->


                    <!-- outdated warning -->


                    <!-- plugin version warning -->


                    <div id="page-toc-source">
                        <div class="home">

                            <div id="hw1">
                            <h1 >Homework 1</h1>
                            <ul>
                              <h2><a>Naïve Bayes Classifier</a></h2><a class="header-link" href=""></a>
                              <div class="description">
                                <p>This is a simple implementation of a <strong>Naïve Bayes</strong> classifier for <strong>spam testing</strong>.</p>
                                <p>Datasets: email(toy dataset), CSDMC2010_SPAM</p>
                              </div>
                              <h2><a>Results</a></h2>
                              <a href = "/presentation/hw1"><button class = "btn btn-info"> Visualization </button></a>

                            </ul>
                          </div>




                          <div id="hw2">
                          <h1 >Homework 2</h1>
                          <ul>
                            <h2><a>EM algorithm</a></h2>
                            <div class="description">
                              <p>This is a simple implementation of a classifier based on <strong>Naïve Bayes</strong> and <strong>EM</strong> algorithm.</p>
                              <p>Datasets: WebKB, 20NG, R8, R52</p>

                            </div>

                            <h2><a>Results</a></h2>
                            <a href = "/presentation/hw2"><button class = "btn btn-info"> Visualization </button></a>
                            <div class = "hidden">1.把EM的两张图直接放一下 2.把EM的图重新用前端画一下(option)</div>
                          </ul>
                        </div>



                        <div id="hw3">
                        <h1 >Homework 3</h1>
                        <ul>
                          <h2><a>HMM model</a></h2><a class="header-link" href=""></a>
                          <div class="description">
                            <p>This <strong>HMM</strong> based project include two subprojects: <strong>chinese segmentation</strong> and <strong>stock prediction</strong>.</p>
                            <p>Datasets: pku_training, sp500</p>
                          </div>
                          <h2><a>Results</a></h2>
                          <a href = "/presentation/hw3"><button class = "btn btn-info"> Visualization </button></a>

                        </ul>
                      </div>


                      <div id="hw4">
                      <h1 >Homework 4</h1>
                      <ul>
                        <h2><a>CRF model</a></h2><a class="header-link" href=""></a>
                        <div class="description">
                          <p>This is a <strong>chinese segmentation</strong> project based on <strong>CRF</strong> model. </p>
                          <p>Datasets:  </p>
                        </div>

                        <h2><a>Results</a></h2><a class="header-link" href=""></a>
                        <a href = "/presentation/hw4"><button class = "btn btn-info"> Visualization </button></a>


                        <div class = "hidden">1.直接用HMM的前端；2.显示切词结果显示BMES标记（option）3.显示实验数据的结果（precision/recall的表格）（option）</div>
                      </ul>
                      </div>







                        </div>


                    </div>
                </div>
            </div>

            <div class="row">
                <div class="blue-divider"></div>
                <footer>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-8">
                                <h1>Resources</h1>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <h2>Libraries</h2>
                                        <ul class="nav">
                                            <li>
                                                <a target="_blank" href="http://getbootstrap.com/">Bootstrap</a>
                                            </li>
                                            <li>
                                                <a href="http://d3js.org/">D3.js</a>
                                            </li>
                                            <li>
                                                <a target="_blank" href="http://echarts.baidu.com/">ECharts</a>
                                            </li>
                                            <li>
                                                <a href="http://www.chartjs.org/">Chartjs</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-4">
                                        <h2>Materials</h2>
                                        <ul class="nav">
                                            <li><a target="_blank" href="https://github.com/HSJMDMG/statiipWeb">Source Code</a></li>
                                            <li><a target="_blank" href="">Datasets </a></li>
                                            <li><a target="_blank" href="">Class Documents</a></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-3">
                                <h1>Contribute</h1>
                                <p style="padding-top:20px"><strong>Help StatiipPlatform move forward!</strong></p>
                                <p>Report bugs, improve the docs, or contribute to the code.</p>
                                <a href="mailto:luying14@fudan.edu.cn" class="btn btn-lg btn-primary">
            Contact Me
        </a>

                            </div>
                        </div>


                    </div>
                </footer>

            </div>
        </div>
    </div>


{% endblock %}
{% block script %}


{% endblock %}
